/* Root styles */

:root {
  --background-main: #2D3142;
  --dark-grey: #4F5D75;
  --light-grey: #BFC0C0;
  --orange: #EF8354;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: var(--background-main);
  color: #FFFFFF;
  font-family: 'Baloo Tamma 2', cursive;
  background-size: cover;
}

form {
  margin: 0px;
  padding: 20px;
}

/* Header styles */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transition: height 0.5s;
}

header-shrink {
  height: 50vh;
}

header h1 {
  text-align: center;
  font-size: 4rem;
}

form {
  text-align: center;
}

#search-bar {
  text-align: center;
  background-color: white;
  border: 0px;
  border-radius: 5px;
  color: var(--dark-grey);
  font-size: 1.5rem;
  height: 50px;
  outline: 0;
  width: 300px;
  box-shadow: black 2px 2px;
  transition: ease-in 0.2s;
}

#search-bar:focus {
  box-shadow: black 0px 0px 20px;
}

#submit-btn {
  border: 0px;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  background-color: var(--orange);
  color: white;
  font-size: 1.5rem;
  box-shadow: black 1px 1px;
  outline: none;
  cursor: pointer;
}

#submit-btn i {
  display: block;
  transition: ease-in 0.2s;
}

#submit-btn:hover i {
  transform: rotate(45deg);
}

#error-message {
  display: block;
  height: 50px;
  color: var(--background-main);
  transition: color 0.5s;
}

/* Tile Grid Styles */

.tile-container {
  padding: 0px 50px 50px 50px;
  height: 50vh;
  display: none;
}

.tile-cities {
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
  row-gap: 20px;
  column-gap: 20px;
}

.tile-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  color: black;
  list-style-type: none;
  text-align: center;
  box-shadow: black 5px 5px 5px;
  transition: ease-in 0.2s;
}

.tile-item:hover {
  /* background-color: var(--light-grey); */
  box-shadow: black 10px 10px 10px;
  transform: rotateX(10deg);
}


/* Inner tile element styles */

.city-name {
  font-size: 1.5rem;
  color: var(--orange);
  text-align: center;
  padding-top: 10px;
  margin-bottom: 0;
}

.sup {
  color: var(--dark-grey);
  font-size: 0.8rem;
}

.tile-item img {
  height: 100px;
  width: 100px;
}

.city-temp {
  color: var(--dark-grey);
  margin-top: 0;
  padding-bottom: 10px;
}

.remove-tile {
  display: block;
  cursor: pointer;
}