/******************/
/* Root styles */
/****************/

:root {
  --background-main: #2D3142;
  --dark-grey: #4F5D75;
  --light-grey: #BFC0C0;
  --orange: #EF8354;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: 'Baloo Tamma 2', cursive;
  min-height: 100%;
  background: rgb(45,49,66);
  background: linear-gradient(180deg, rgba(45,49,66,1) 0%, rgba(79,93,117,1) 100%);  
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
}

form {
  margin: 0px;
  padding: 20px;
}

/******************/
/* Header styles */
/****************/

@media (min-width: 320px) { /* Small Mobile */

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: height 0.5s;
  }

  header-shrink {
    height: 50vh;
  }

  header h1 {
    text-align: center;
    font-size: 2.6rem;
    text-shadow: #1b1b1b 0px 0px 10px;
  }

  #app-title {
    cursor: pointer;
  }

  form {
    text-align: center;
  }

  #search-bar {
    text-align: center;
    background-color: white;
    border: 0px;
    border-radius: 5px;
    color: var(--dark-grey);
    font-size: 1.2rem;
    height: 35px;
    outline: 0;
    width: 240px;
    box-shadow: black 3px 3px 5px;
    transition: ease-in 0.2s;
  }

  #search-bar:focus {
    box-shadow: black 0px 0px 20px;
  }

  #submit-btn {
    border: 0px;
    border-radius: 100%;
    height: 35px;
    width: 35px;
    background-color: var(--orange);
    color: white;
    font-size: 1rem;
    box-shadow: black 1px 1px;
    outline: none;
    cursor: pointer;
    transition: ease-in 0.2s;
    font-weight: 900;
  }

  #submit-btn:hover {
    transform: rotate(45deg);

  }

  #help-info {
    display: block;
    height: 50px;
    color: #FFFFFF;
    transition: opacity 0.5s;
    cursor: default;
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
  }

}


@media (min-width: 425px) { /* wider mobile */

  header h1 {
    font-size: 3.4rem;
  }

  #search-bar {
    width: 300px;
    height: 40px;
    font-size: 1.3rem;
  }

  #submit-btn {
    height: 40px;
    width: 40px;
  }

  #help-info {
    font-size: 1rem;
  }

}


@media (min-width: 768px) { /* Tablet */
  header h1 {
    font-size: 4rem;
  }
}


@media (min-width: 1024px) { /* Laptops */
  
  header h1 {
    font-size: 5.25rem;
  }

  #search-bar {
    width: 350px;
    height: 40px;
    font-size: 1.3rem;
  }

  #submit-btn {
    height: 40px;
    width: 40px;
  }

  #help-info {
    font-size: 1rem;
  }

}


@media (min-width: 1440px) { /* Large monitors */
 
   header h1 {
    font-size: 6.5rem;
  }

  #search-bar {
    width: 475px;
    height: 50px;
    font-size: 1.5rem;
  }

  #submit-btn {
    height: 50px;
    width: 50px;

  }

  #help-info {
    font-size: 1.5rem;
  }

}

@media (min-width: 2560px) { /* Retina monitors */
 
  header h1 {
   font-size: 10rem;
 }

 #search-bar {
   width: 600px;
   height: 75px;
   font-size: 2.5rem;
 }

 #submit-btn {
   height: 80px;
   width: 80px;
   font-size: 2rem;
 }

 #help-info {
   font-size: 2rem;
 }

}



/*********************/
/* Tile grid styles */
/*******************/

@media (min-width: 320px) { /* mobile */

  .tile-container {
    height: 50vh;
    display: none;
  }
  
  .tile-cities {
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: row;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;
  }
  
  .tile-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 250px;
    background-color: white;
    border-radius: 20px;
    color: black;
    list-style-type: none;
    text-align: center;
    box-shadow: black 5px 5px 5px;
    transition: opacity ease 0.15s;
  
    /* animation for when the tile is created */
    animation-name: fade-in;
    animation-duration: 1s;
    animation-iteration-count: 0.15s;
    animation-timing-function: ease;
  }
  
  @keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  .tile-item:hover {
    transform: rotateX(15deg);
    box-shadow: black 10px 10px 10px;
    transition: all ease 0.15s;
  }

  .tile-item:nth-last-child(1) { /* adds a gap between last tile and bottom of screen */
    margin-bottom: 50px;
  }

}

@media (min-width: 768px) { /* tablet */

  .tile-cities {
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    row-gap: 20px;
  }

  .tile-item {
    min-width: 170px;
  }

  .tile-item:nth-last-child(1) { /* resets the gap for this size screen and larger */
    margin-bottom: 0px;
  }

}


@media (min-width: 1024px) { /* laptop */

  .tile-item {
    min-width: 250px;
  }

}


@media (min-width: 1440px) { /* large monitors */

  .tile-item  {
    min-width: 300px;
  }
}

@media (min-width: 2560px) { /* Retina monitors */

  .tile-item  {
    min-width: 500px;
    height: 500px;
  }

}


/******************/
/* Inner tile element styles */
/****************/


@media (min-width: 320px) { /* mobile */

  .city-name {
    font-size: 1.5rem;
    color: var(--orange);
    text-align: center;
    padding-top: 10px;
    margin-bottom: 0;
  }
  
  .sup {
    color: var(--dark-grey);
    font-size: 0.8rem;
  }
  
  .tile-item img {
    height: 100px;
    width: 100px;
  }
  
  .city-temp {
    color: var(--dark-grey);
    margin-top: 0;
    padding-bottom: 10px;
  }
  
  .remove-tile {
    display: block;
    cursor: pointer;
    color: var(--light-grey);
    transition: ease-in 0.2s;
  }
  
  .remove-tile:hover {
    transform: scale(1.5);
    color: #EF8354;
  }

}


@media (min-width: 1440px) { /* laptop */

  .city-name, img, .city-temp, .remove-tile {
    transform: scale(1.3);
  }

}

@media (min-width: 2560px) {

  @media (min-width: 1440px) { /* laptop */

    .city-name, .city-temp, .remove-tile {
      font-size: 3rem;
    }

    img {
      transform: scale(2.2);
      padding: 50px;
    }
  
  }

}